@import "../App.css";

.divCardDestindation{
    display: flex;
    flex-direction: column;
    padding: 0 0.5em 0.5em 0.5em;
    background-color: #264653;
    border-radius: 5px;
    box-shadow: rgba(38, 70, 83, 0.815) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.card-info{
    text-align: center;
    color: #E9C46A;
}
.titleDestination{
    margin-top: 1em;
    margin-bottom: .3em;
}
.subtitleDestination{
    margin-top: 0;
    margin-bottom: 1em;
    font-weight: 500;
}
.picCard{
    margin-bottom: .5em;
}
.card-bio{
    margin-left: 1em;
    margin-right: 1em;
}
.descriptionCard{
    font-size: large;
    font-weight: 500;
    color: #E9C46A;
}
.reponseCard{
    font-size: large;
    color: #E9C46A;
    text-align: end;
    margin-bottom: .5em;
}
.btnPut, .btnDel{
    align-self: center;
    width: 60%;
    height: 2em;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
.btnPut{
    margin-top: 1em;
    margin-bottom: .5em;
    background-color: #E9C46A;
    color: #264653;
    font-weight: 600;
}
.btnDel{
    color:#E9C46A;
    border: 1px solid #E9C46A;
    background-color: #264653;
}