.divlistCards {
  padding-top: 1em;
  padding-bottom: 1em;
  margin-left: 2em;
  margin-right: 2em;
}

/* Partie filtre */ 

.divFilter{
  display: flex;
  justify-content: space-evenly;
}

/* Partie Card */ 

.listCards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  padding: 0;
  list-style-type: none;
}
.liCard {
  list-style-type: none;
}
